{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    {% block title %}Meow Meow Cloth's{% endblock title %}
  </head>
  <body>
    {% block body %}
       <div class="container-fluid my-0">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">  
              <img src="/static/img/party wear.jpg" width="1200" height="550" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Party Wear Dress</h5>
                <p>Full Enjoy Your Party with Meow Meow Collection .</p>
              </div>
            </div>
            <div class="carousel-item">
               <img src="/static/img/dailywear.jpg" width="1700" height="550" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Daily Dress</h5>
                <p>Trend of meow meow! .</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/img/sadi.jpg" width="1700" height="550" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Traditional Dress</h5>
                <p>just try Meow Meow Traditional Cloth .</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


        <div class="container my-3">
          <h1 class = "my-2 text-center">These are Meow Meow trend!!</h1>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/daily.jpg"  height="400"  alt="daily">
    
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">AddToCart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">favorite</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/d7.jpg"   height="400" alt="daily">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">AddToCart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">favorite</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/d9.jpg"   height="400" alt="daily">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">AddToCart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">favorite</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/d10.jpg"  height="400"  alt="daily">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">AddToCart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">favorite</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/d1.jpg"  height="400"  alt="daily">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">AddToCart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">favorite</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/d2.jpg"  height="400"  alt="daily">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">AddToCart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">buy</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">favorite</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/d3.jpg"  height="400"  alt="daily">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">AddToCart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">favorite</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/d4.jpg"   height="400" alt="daily">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">AddToCart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">favorite</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="/static/img/d5.jpg"  height="400"  alt="daily">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">AddToCart</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">favorite</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
    {% endblock body %}
  </body>
</html>
